@import "src/app/shared/styles/variables/colors";

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 30px;
    background-color: $color-white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

.right-content {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 20px;
    text-align: right;
    color: #333E48;
}