.app-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 36px;
    background: #007298;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
  
    &:hover {
      background: #016486;
    }
  
    &:focus {
      background: #014f6a;
      outline: 2px solid #0056b3;
      outline-offset: 2px;
    }
  
    &:active {
      background: #014f6a;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    }
  
    &--icon-only {
      padding: 13px;
    }
  }
  