@import "src/app/shared/styles/variables/colors";

.app-button {
    @include flex-row;
    justify-content: center;
    background: $background-primary;
    border-radius: 4px;
    border: 1px solid $color-primary;
    color: $color-white;
    transition: background 0.4s, color 0.4s, border 0.4s;
    cursor: pointer;

    &__btn {
        width: 100%;
        padding: 11px 36px;
        font-weight: bold;
        font-size: inherit;
        text-transform: uppercase;
        line-height: 1.5rem;
    }

    &__icon {
        width: 60px;
        height: 50px;
        font-size: 1.5rem;
    }

    &__icon-plus {
        width: .8rem;
        height: .8rem;
        font-size: .8rem;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    &:hover {
        background: $background-block;
        border: 1px solid $color-primary;
        color: $color-primary;
    }

    &:focus {
        box-shadow: 0 0 0 4px rgba($color-primary, 0.5);
        background: darken($background-primary, 10%);
        border: 1px solid darken($color-primary, 10%);
    }

    &:active {
        background: lighten($background-primary, 5%);
        border: 1px solid lighten($color-primary, 5%);
        transform: scale(0.98);
    }

    &:disabled {
        pointer-events: none;
        background: lighten($background-primary, 15%);
        border: none;
    }

    &__single-icon {
        padding: 13px;
    }

}