.app-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 36px;
    gap: 10px;
    background: #007298;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    margin: 5px;

    &:hover {
        background: #016486;
    }

    &:focus {
        background: #016100;
    }

    &:active {
        background: #016252;
    }

    &__single-icon {
        padding: 13px;
        margin: 5px;
        background-color: #007298;
        color: #fff;

        &:hover {
            cursor: pointer;
            background-color: #016486;
            color: #fff;
        }
        &:focus {
            background: #016100;
        }
    
        &:active {
            background: #016252;
        }
    }
}