@import "src/app/shared/styles/styles";

.registration-form {
  width: 260px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .form__control {
    position: relative;
  }

  .button-toggle {
    position: absolute;
    top: 70%;
    right: 10px;
    transform: translateY(-50%);
    background: none;

    img {
      width: 20px;
      height: 20px;
    }
  }
}

.form__text {
  font-size: 0.9rem;
  a {
    text-decoration: none;
    color: inherit;
  }
}
