<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <form class="registration-form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
      <div class="form__control">
        <label for="name">Name</label>
        <!--Use the name `name` for the form control.-->
        <input type="text" id="name" placeholder="Input text" formControlName="name" />
        <span
          *ngIf="
            registrationForm.get('name')?.invalid &&
            (registrationForm.get('name')?.touched || submitted)
          "
          id="nameErrorMessage"
          class="text-danger"
        >
          <ng-container *ngIf="registrationForm.get('name')?.errors?.['minlength']"
            >Name must be at least 6 characters long.</ng-container
          >
          <ng-container *ngIf="registrationForm.get('name')?.errors?.['required']">
            Name is required.</ng-container
          >
        </span>
      </div>
      <div class="form__control">
        <!--Use the name `email` for the form control.-->
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          placeholder="Input text"
          formControlName="email"
          emailValidator
        />
        <span
          *ngIf="
            registrationForm.get('email')?.invalid &&
            (registrationForm.get('email')?.touched || submitted)
          "
          id="emailErrorMessage"
          class="text-danger"
        >
          <ng-container *ngIf="registrationForm.get('email')?.errors?.['required']">
            Email is required.</ng-container
          >
          <ng-container *ngIf="registrationForm.get('email')?.errors?.['invalidEmail']"
            >Invalid email format.</ng-container
          ></span
        >
      </div>
      <div class="form__control">
        <!--Use the name `password` for the form control.-->
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          placeholder="Input text"
          formControlName="password"
          togglePassword
          #togglePassword="togglePassword"
        />
        <button type="button" (click)="togglePassword.toggle()" class="button-toggle">
          <img
            *ngIf="!togglePassword.visible"
            src="assets/eye-closed.svg"
            alt="show password"
          />
          <img *ngIf="togglePassword.visible" src="assets/eye-open.svg" alt="hide password" />
        </button>
        <span
          id="passwordErrorMessage"
          class="text-danger"
          *ngIf="
            registrationForm.get('password')?.invalid &&
            (registrationForm.get('password')?.touched || submitted)
          "
          >Password is required.</span
        >
      </div>
    </div>
    <div class="form__action">
      <app-button type="submit" buttonText="LOGIN"></app-button>
    </div>
    <div class="form__text">
      If you have an account you may <strong><a href="/login">Login</a></strong>
    </div>
  </form>
</div>
