@import 'src/app/shared/styles/styles';

.registration-form {
  width: 260px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.password-container {
  position: relative;

  input {
    padding-right: 40px;
  }

  fa-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
}