@import "src/app/shared/styles/variables/colors";

.course-card {
  @include card-item;
  justify-content: space-between;
  min-height: 170px;
  width: 80vw;
  padding: 32px;
  margin: 32px 0;

  &__description {
    &-title {
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 2.7rem;
      color: $color-black;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
    line-height: 1.30rem;
    font-weight: 300;
    letter-spacing: 0.02rem;

    &-description {
      flex: 2;
      height: 8.75rem;
      overflow-y: auto;
    }

    &-text {
      @include flex-column;
      justify-content: space-between;
      flex: 1;
    }

    &-actions {
      @include flex-row;
      justify-content: space-between;
    }

    &_label {
      font-weight: bold;
    }
  }
}
