<div class="course-card">
    <div class="course-card__description">
      <!-- Replace ::text:: with your code -->
      <div class="course-card__description-title">::Title::</div>
      <div class="course-card__description-text">::Description::</div>
    </div>
    <div class="course-card__info">
        <div class="course-card__info-text">
            <div>
              <b>Authors: </b>
              ::Authors::
            </div>
            <div><b>Duration: </b><span class="course-card__duration">::Duration::</span></div>
            <div><b>Created: </b><span class="course-card__date">::Creation Date::</span></div>
        </div>
        <div class="course-card__info-actions">
            <app-button></app-button>
            <div class="course-card__buttons">
                <!--Enter your code here-->
            </div>
        </div>
    </div>
</div>
