<h2 class="text-align-center">Login</h2>
<div class="app-plate">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="login-form">
      <div>
        <div class="form__control">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            placeholder="Input text"
            name="email"
            required
            ngModel
            #email="ngModel"
            emailValidator
          />
          <span
            *ngIf="email.invalid && (email.touched || loginForm.submitted)"
            id="emailErrorMessage"
            class="text-danger"
          >
            <ng-container *ngIf="email.errors?.['required']"
              >Email is required.</ng-container
            >
            <ng-container *ngIf="email.errors?.['invalidEmail']"
              >Invalid email format.</ng-container
            ></span
          >
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            placeholder="Input text"
            name="password"
            required
            ngModel
            #password="ngModel"
          />
          <span
            *ngIf="
              password.invalid && (password.touched || loginForm.submitted)
            "
            id="passwordErrorMessage"
            class="text-danger"
            >Password is required.</span
          >
        </div>
      </div>
      <div class="form__action">
        <app-button buttonText="LOGIN" type="submit"></app-button>
      </div>
      <div class="form__text">
        If you don't have an account you may
        <strong><a href="/registration">Registration</a></strong>
      </div>
    </div>
  </form>
</div>
