<h2 class="text-align-center">Login</h2>
<div class="app-plate">
  <form #loginForm="ngForm">
    <div class="login-form">
      <div>
        <!-- Email Input Field -->
        <div class="form__control">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            ngModel
            emailValidator
            required
            placeholder="Input text"
            #email="ngModel"
          />
          <span
            *ngIf="email.invalid && (email.touched || loginForm.submitted)"
            class="text-danger"
          >
            <span *ngIf="email.errors?.['required']">Email is required.</span>
            <span *ngIf="email.errors && email.errors['invalidEmail']">
              Invalid email format.
            </span>
          </span>
        </div>

        <!-- Password Input Field -->
        <div class="form__control">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            ngModel
            required
            minlength="6"
            placeholder="Input text"
            #password="ngModel"
          />
          <span
            *ngIf="
              password.invalid && (password.touched || loginForm.submitted)
            "
            class="text-danger"
          >
            <span *ngIf="password.errors?.['required']"
              >Password is required.</span
            >
            <span *ngIf="password.errors?.['minlength']">
              Password must be at least 6 characters long.
            </span>
          </span>
        </div>
      </div>

      <!-- Submit Button and Additional Text -->
      <div>
        <div class="form__action">
          <app-button
            type="submit"
            buttonText="login"
            (click)="onSubmit(loginForm)"
          ></app-button>
        </div>
        <div class="form__text">
          If you don't have an account, you may <strong>Register</strong>.
        </div>
      </div>
    </div>
  </form>
</div>
