@import "src/app/shared/styles/styles.scss";

.login-form {
  width: 260px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-form input {
  border: 1px solid #ccc;
}

input.ng-invalid.ng-touched,
input.ng-invalid.ng-dirty {
  border-color: red;
}
form.ng-submitted input.ng-invalid {
  border-color: red;
}
