<div class="modal__backdrop">
    <div class="modal__container">
      <!-- Replace ::text:: with your code -->
        <div class="modal__title">
            <div>::Title::</div>
            <div class="modal__icon">
                <fa-icon [icon]="['fas','xmark']"></fa-icon>
            </div>
        </div>
        <div class="modal__message">::Message::</div>
        <div class="modal__actions">
            <div class="modal__btn">
                <app-button></app-button>
            </div>
            <div class="modal__btn">
                <app-button></app-button>
            </div>
        </div>
    </div>
</div>
