<div class="modal__backdrop">
    <div class="modal__container">
        <div class="modal__title">
            <div>{{ title }}</div>
            <div class="modal__icon" (click)="onCancel()">
                <fa-icon [icon]="'xmark'"></fa-icon>
            </div>
        </div>
        <div class="modal__message">{{ message }}</div>
        <div class="modal__actions">
            <div class="modal__btn">
                <app-button [buttonText]="cancelButtonText || 'Cancel'" (clicked)="onCancel()"></app-button>
            </div>
            <div class="modal__btn">
                <app-button [buttonText]="okButtonText || 'Ok'" (clicked)="onOk()"></app-button>
            </div>
        </div>
    </div>
</div>
