<ng-container *ngIf="displayedCourse">
  <div class="title">{{ displayedCourse.title }}</div>
  <div class="course-info">
    <div class="course-info__description">
      {{ displayedCourse.description }}
    </div>
    <div class="course-info__info">
      <div><b>ID: </b><span class="course-info__info-id">{{ displayedCourse.id }}</span></div>
      <div><b>Duration: </b><span class="course-info__info-duration">{{ displayedCourse.duration | duration }} hours</span></div>
      <div><b>Created: </b><span class="course-info__info-date">{{ displayedCourse.creationDate| date}}</span></div>
      <div><b>Authors: </b><span class="course-info__info-authors">{{ displayedCourse.authors | authorIdToName | async }}</span></div>
    </div>
  </div>
  <div class="navigation-block">
    <app-button buttonText="BACK" (buttonClick)="navigateBack()"></app-button>
  </div>
</ng-container>