@import "src/app/shared/styles/variables/colors";

.title {
  font-size: 2rem;
  font-weight: bold;
}

.course-info {
  display: flex;
  justify-content: space-between;
  min-height: 170px;
  width: 80vw;
  padding: 3.25rem;
  margin: 32px 0;
  box-shadow: 0 0 4px rgb(0 0 0 / 25%);
  border-radius: 4px;
  background-color: $color-white;

  &__description {
    flex: 2;
    font-weight: 300;
    line-height: 1.25rem;
    padding: 0 2.5rem 0 2rem;
    border-right: 1px solid $color-gray;

    &_label {
      @extend .course-info__info_label;
      margin-bottom: 1rem;
    }
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
    font-weight: 300;
    margin-left: 50px;

    &_label {
      font-weight: bold;
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }
}

.navigation-block {
  display: flex;
  justify-content: flex-end;
}
