<!-- Replace ::text:: with your code -->

<div class="title">::Title::</div>
<div class="course-info">
  <div class="course-info__description">
    ::Description::
  </div>
  <div class="course-info__info">
    <div><b>ID: </b><span class="course-info__info-id">::id::</span></div>
    <div><b>Duration: </b><span class="course-info__info-duration">::duration::</span></div>
    <div><b>Created: </b><span class="course-info__info-date">::date::</span></div>
    <div><b>Authors: </b><span class="course-info__info-authors">::authors::</span></div>
  </div>
</div>
<div class="navigation-block">
  <!--Enter your code here-->
</div>
