.app-root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  .user-name {
    margin-right: 15px;
  }
}