.app-root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-header {
  &__inline-items {
    display: flex;
    align-items: center;
  }

  &__user-name {
    padding: 0 2rem;
  }
}