<app-header>
  <div class="app-header__inline-items" *ngIf="isLogin">
    <span class="app-header__ph-2">{{userName}}</span>
    <app-button buttonText="Logout" (click)="logout()"></app-button>
  </div>
  <a *ngIf="!isLogin && router.url != '/login'" routerLink="/login" class="a-none">
    <app-button buttonText="LogIn"></app-button>
  </a>
</app-header>
<div class="app-root">
  <router-outlet></router-outlet>
  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
