.app-root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;

  .login-button {
  }
}

.login-container {
  display: flex;

  .name-container {
    margin-right: 20px;
  }
}
