<app-header>
  <button class ="header_btn">Login</button>
</app-header>

<div class="app-root">
  <app-button buttonText="User Secret" iconName="user-secret"></app-button>
  <!-- Search component -->
  <!--<app-search-></app-search->

  <!- Info component -->
  <app-info [title]="'Your List Is Empty'" [text]="'Please use Add New Course button to add your first course.'">
    <button>ADD NEW COURSE</button>
  </app-info>
  

  <!-- Course Card component -->
  <app-course-card>
    <button>Show Course</button>
    <button>Edit</button>
    <button>Remove</button>
  </app-course-card>

  <!-- Login Form component -->
  <app-login-form></app-login-form>

  <!-- Login Form component -->
  <app-registration-form></app-registration-form>

  <!-- Login Form component -->
  <app-course-form></app-course-form>
 

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
