$color-white: #fff;
$color-gray: #CFCFCF;
$color-red: #FF0000;

.app-plate {
    min-height: 477px;
    background-color: $color-white;
    border: 1px solid $color-gray;
    border-radius: 4px;
    padding: 70px;
    display: flex;
    justify-content: center;
}

.form {
    &__control {
        position: relative;
        margin-bottom: 24px;
    }

    &__action {
        margin-top: 24px;
    }

    &__text {
        text-align: center;
        margin-top: 38px;
      flex-wrap: wrap;
    }
}

.separator {
    width: 100%;
    border-bottom: 1px solid $color-gray;
}

.text-danger {
    color: red;
}

.a-none {
    text-decoration: none !important;
    color: #333;
}