@import "src/app/shared/styles/variables/colors";

.app-plate {
    width: 100%;
    min-height: 477px;
    display: flex;
    justify-content: center;
    background-color: $color-white;
    border: 1px solid $color-gray;
    border-radius: 4px;

    &__padding-small {
        padding: 2.5rem 5rem;
    }

    &__padding-large {
        padding: 4rem 9rem;
    }
}

.text-align-center {
    text-align: center;
}

.app-error-text {
    position: absolute;
    margin-top: 4px;
    color: $color-red;
}

.form {
    &__control {
        margin-bottom: 24px;
    }

    &__action {
        margin-top: 34px;
    }

    &__text {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 38px;
    }

    &__link {
        cursor: pointer;
        color: $color-primary;
        text-decoration: none;

        &:hover,
        &:visited
        {
            opacity: .8;
        }
    }

    &__link_bold {
        font-weight: bold;
    }
}

.separator {
    width: 100%;
    border-bottom: 1px solid $color-gray;
}

.text-danger {
    color: $color-red;
    font-size: .9rem;
}



