<section class="app-courses">
    <div class="app-courses__wrapper">
        <app-search (search)="search($event)"></app-search>
        <ng-container *ngIf="this.userStoreService.isAdmin$ | async">
            <app-button
                    [btnDefault]=true
                    [btnMod]=true
                    [buttonText]=buttonTexts.add_new_course
                    [buttonType]="'button'"
                    routeTo="/courses/add">
            </app-button>
        </ng-container>
    </div>
    <app-courses-list
            (showCourse)="showCourseInfo($event)"
            (editCourse)="editCourse($event)"
            (deleteCourse)="deleteCourse($event)">>
    </app-courses-list>
</section>
