/* You can add global styles to this file, and also import other style files */

body {
    padding: 10% 20%;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-bottom: 16px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin: 8px 0;
    border-radius: 4px;
}
