/* You can add global styles to this file, and also import other style files */
$color-white: #fff;
$color-gray: #CFCFCF;
$color-red: #FF0000;
$color-primary: #007298;
$color-dark-gray: #333E48;

/*background*/
$background-body: #F7F7F7;

/*font-size*/
$font-size-default: 16px;

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: $font-size-default;
  background-color: $background-body;
  color: $color-dark-gray;
  margin: 0;
  padding: 0;
  user-select: none;
}

input,
textarea {
  width: 100%;
  display: inline-block;
  padding: 14px 16px;
  border: 1px solid $color-gray;
  border-radius: 4px;
  resize: none;
}

input:invalid,
textarea:invalid {
  border-color: $color-red;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

label {
  font-weight: bold;
}

h2 {
  margin-bottom: 36px;
}



.user-description {
  font-size: .87rem;
  letter-spacing: .05rem;
}

/* Styling the scrollbar*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $color-gray;
  border-radius: 6px;
  border: 2px solid $color-white;
}

::-webkit-scrollbar-track {
  background: $color-white;
  border-radius: 6px;
}


