<!-- Replace ::text:: with your code -->
<h2>Create / Edit Course</h2>
<form [formGroup]="courseForm">
    <div class="app-plate app-plate__padding-small">
        <div class="form">
            <h3 class="form__heading">Main Info</h3>
            <!--Title-->
            <div class="form__control">
                <label class="form__label" for="title">Title</label>
                <!--Use the name `title` for the form control.-->
                <input type="text"
                       id="title"
                       name="title"
                       placeholder="Input text"
                       formControlName="title"/>
                <!--<span id="titleErrorMessage" class="text-danger">Title is required.</span>-->
                <ng-container *ngIf="inputTitle || ( courseForm.controls['title']?.invalid &&
                                         courseForm.controls['title']?.touched)">
                    <span id="titleErrorMessage" class="text-danger">
                        <ng-container  *ngIf="courseForm.controls['title']?.errors?.['required']">
                            Title is required.
                        </ng-container>
                        <ng-container *ngIf="courseForm.controls['title']?.errors?.['minlength']">
                              Title should contain not be less than 2 characters.
                        </ng-container>
                    </span>
                </ng-container>
            </div>
            <!--Description-->
            <div class="form__control">
                <label class="form__label" for="description">Description</label>
                <!--Use the name `description` for the form control.-->
                <textarea
                        id="description"
                        name="description"
                        placeholder="Input text"
                        rows="4"
                        cols="5"
                        formControlName="description"
                ></textarea>
                <ng-container *ngIf="inputDescription || ( courseForm.controls['description']?.invalid &&
                                         courseForm.controls['description']?.touched)">
                    <span id="descriptionErrorMessage" class="text-danger">
                          <ng-container
                                  *ngIf="courseForm.controls['description']?.errors?.['required']">
                                  Description is required.
                         </ng-container>
                        <ng-container
                                *ngIf="courseForm.controls['description']?.errors?.['minlength']">
                               Description must be at least 2 characters long.
                        </ng-container>
                    </span>
                </ng-container>
            </div>
            <h3 class="form__heading">Duration</h3>
            <div class="form__control">
                <div class="form__wrapper">
                    <!--Use the name `duration` for the form array.-->
                    <label class="form__label" for="duration">Duration</label>
                    <div class="form__wrapper-input">
                        <input type="number"
                               id="duration"
                               name="duration"
                               placeholder="Input duration"
                               formControlName="duration"
                        />
                        <span [ngClass]="{
                                 'form__span-invalid': courseForm.controls['duration']?.errors?.['min']
                                 || courseForm.controls['duration']?.errors?.['required']
                                  }"
                              class="form__duration"
                        >{{ this.durationValue | duration }}
                        </span>
                    </div>
                </div>
                <ng-container *ngIf="inputDuration || ( courseForm.controls['duration']?.invalid &&
                                         courseForm.controls['duration']?.touched)">
                    <span id="durationErrorMessage" class="text-danger">
                        <ng-container
                                   *ngIf="courseForm.controls['duration']?.errors?.['required']">
                                    Duration is required.
                        </ng-container>
                        <ng-container

                                *ngIf="courseForm.controls['duration']?.errors?.['min']">
                                Duration should be not less than 0
                        </ng-container>
                    </span>
                </ng-container>
            </div>
            <section class="form__authors">
                <div class="form__authors-list">
                    <h3 class="form__heading">Authors</h3>
                    <div class="form__control">
                        <div class="form__wrapper">
                            <!--Use the name `author` for the form control.-->
                            <label class="form__label" for="author">Author Name</label>
                            <div class="form__wrapper-input">
                                <input
                                        type="text"
                                        id="author"
                                        name="author"
                                        placeholder="Input Author Name"
                                        formControlName="author"
                                />
                                <app-button
                                        [btnDefault]=true
                                        [btnMod]=true
                                        [buttonText]=buttonTexts.create_author
                                        [buttonType]="'button'"
                                        [disabled]="!inputAuthor || !!(courseForm.controls['author']?.invalid && courseForm.controls['author']?.touched)
                                        || courseForm.controls['author']?.value === ''"
                                        (clickButton)="addAuthor($event)"
                                        id="createAuthor">
                                </app-button>
                            </div>
                        </div>
                        <ng-container *ngIf="inputAuthor || ( courseForm.controls['author']?.invalid &&
                                         courseForm.controls['author']?.touched)">
                            <span id="authorErrorMessage" class="text-danger"
                                  *ngIf="courseForm.controls['author']?.errors?.['pattern']">
                                New author should contain only latin letters and numbers
                            </span>
                        </ng-container>
                    </div>
                </div>
                <div class="form__wrapper form__wrapper_course">
                    <h3 class="form__heading ">Course Authors</h3>
                    <div class="form__wrapper_mod" formArrayName="courseAuthors">
                        <div class="form__wrapper-input"
                             *ngFor="let item of this.getFormsControlsCourse()['controls']; let i = index"
                             [formGroupName]="i">
                            <span class="form__author-name"> {{ item.value.name }}</span>
                            <app-button
                                    [btnIconPlus]=true
                                    [iconName]=buttonIcon.trash
                                    (clickButton)="deleteCourseAuthor(item.value)"
                            >
                            </app-button>
                        </div>
                    </div>
                    <small class="form__message">This list is empty</small>
                </div>
                <div class="form__wrapper">
                    <h3>Authors List</h3>
                    <div class="form__wrapper_mod" formArrayName="authors">
                        <div class="form__wrapper-input"
                             *ngFor="let item of this.getFormsControls()['controls']; let i = index"
                             [formGroupName]="i">
                            <span class="form__author-name"> {{ item.value.name }}</span>
                            <app-button
                                    (clickButton)="addCourseAuthor(item.value)"
                                    [btnIconPlus]=true
                                    [iconName]=buttonIcon.plus
                            >
                            </app-button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="form__action">
        <app-button [btnDefault]=true
                    [btnMod]=true
                    [buttonText]=buttonTexts.cancel
                    [buttonType]="'button'">

        </app-button>
        <app-button [btnDefault]=true
                    [btnMod]=true
                    [buttonText]=buttonTexts.create_course
                    [buttonType]="'submit'">
        </app-button>
    </div>
</form>
