<!-- Replace ::text:: with your code -->
<h2>Create / Edit Course</h2>
<form #courseForm="ngForm">
  <div class="app-plate">
    <div class="course">
      <h3>Main Info</h3>
      <div class="form__control">
        <label for="title">Title</label>
        <!--Use the name `title` for the form control.-->
        <input
          type="text"
          id="title"
          placeholder="Input text"
          minlength="2"
          required
          ngModel
          name="title"
          #title="ngModel"
        />
        <span
          *ngIf="title.invalid && (title.touched || courseForm.submitted)"
          id="titleErrorMessage"
          class="text-danger"
          >Title is required.</span
        >
      </div>
      <div class="form__control">
        <label for="description">Description</label>
        <!--Use the name `description` for the form control.-->
        <textarea
          minlength="2"
          id="description"
          name="description"
          placeholder="Input text"
          rows="4"
          cols="5"
          required
          ngModel
          #description="ngModel"
        ></textarea>
        <span
          *ngIf="
            description.invalid && (description.touched || courseForm.submitted)
          "
          id="descriptionErrorMessage"
          class="text-danger"
          >Description is required.</span
        >
      </div>
      <div class="separator"></div>
      <h3>Authors</h3>
      <div class="form__control">
        <div class="course__flex">
          <!--Use the name `author` for the form control.-->
          <input
            type="text"
            id="author"
            placeholder="Input Author Name"
            minlength="2"
            name="author_name"
            ngModel
            #author_name="ngModel"
          />
          <app-button
            id="createAuthor"
            button_text="Create author"
          ></app-button>
        </div>
        <span
          *ngIf="
            author_name.invalid && (author_name.touched || courseForm.submitted)
          "
          id="authorErrorMessage"
          >New author should contain only latin letters and numbers.</span
        >
        <div class="course__authors">
          <!--Use the name `authors` for the form array.-->
          ::Authors::
        </div>
      </div>
      <div class="separator"></div>
      <h3>Duration</h3>
      <div class="form__control">
        <div class="course__flex">
          <!--Use the name `duration` for the form array.-->
          <input
            type="number"
            id="duration"
            placeholder="Input duration"
            required
            name="duration"
            ngModel
            #duration="ngModel"
          />
          <div class="course__duration">::Duration::</div>
        </div>
        <span
          *ngIf="duration.invalid && (duration.touched || courseForm.submitted)"
          id="durationErrorMessage"
          class="text-danger"
          >Duration is required.</span
        >
      </div>
      <div class="form__action"></div>
    </div>
  </div>
</form>
<div class="buttons-container">
  <app-button button_text="Cancel"></app-button>
  <app-button button_text="Create course"></app-button>
</div>
