@import "src/app/shared/styles/styles";

.course {
  min-width: 60vw;

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & input {
      flex: 1;
    }

    & app-button {
      margin-left: 16px;
    }

    & .course__duration {
      margin-left: 16px;
    }
  }

  &__authors {
    margin-top: 8px;
    display: flex;

    &-item {
      margin-right: 10px;
    }
  }

  &__icon {
    margin-left: 4px;
    cursor: pointer;
  }
}

.buttons-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  justify-items: center;
  align-items: center;
}

input.ng-invalid.ng-touched {
  border: 1px solid red !important;
}

textarea.ng-invalid.ng-touched {
  border: 1px solid red !important;
}

.form__control input {
  border: 1px solid black;
}

.form__control textarea {
  border: 1px solid black;
}
.authors-list-item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.authors-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
}
