<div class="app-search">
    <form class="form-search" (ngSubmit)="onSearchSubmit()">
        <input type="text" name="search" class="form-search__input"
               [placeholder]="placeholder"
               [(ngModel)]="searchTerm"
        >
        <app-button
                [btnDefault]=true
                [btnMod]=true
                [buttonText]=buttonTexts.search
                [buttonType]="'submit'"
                (clickButton)="onItemSearch()"
        >
        </app-button>
    </form>
</div>
